@media screen and (max-width: 900px){
    nav {
        display: none;
        height: 0vh;
    }
    nav ul {
        height: 0vh;
    }
    .menu-mobile {
        display: block;
        cursor: pointer;
        width: 30px;
    }

        .main-home h1 {
            font-size: 40px;
            text-align: center;
        }
        .main-home p {
            font-size: 16px;
            text-align: center;
            padding: 20px;
        }
        .main-home2 h2 {
            font-size: 30px;
        }
        .main-homebox1 {
            flex-direction: column;
            gap: 20px;
        }
        .box1 {
            width: 100%;
            padding: 10px;
        }
        
        .box2  {
            width: 100%;
            font-size: 16px;
            padding: 20px;

        }
        
    .box1 {
        width: 100%;
    }

    .box2 {
        width: 100%;
    }
   
        ul {
            flex-direction: column;
        }
    
    .main-produtos h1 {
        font-size: 30px;
    }
    .main-produtos h2 {
        font-size: 16px;
        padding: 20px;

    }
       
    .promocoes h2 {
     font-size: 30px;
    }
    .promocoes h3{
    font-size: 16px;
    text-align: justify;
    padding: 20px;
    }

    .contact h2 {
        font-size: 40px;
    }
    .contact p {
        font-size: 16px;
        padding: 20px;
    }

    .contact input {
        width: 300px;
        height: 40px;
    }
    .contact textarea {
        width: 300px;
        height: 100px;
    }
    footer {
        font-size: 16px;
    }
    nav.active {
        position: absolute;
        top:10vh;
        right: 0;
        display: block;
        background-color: #fe5d9f;
        height: 100vh;
        width: 50%;
    }

    nav.active ul {
        padding-top: 30px;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
    .nav.active li {
        color: white;
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {
    .menu-mobile {
        width: 30px;
    }
}