* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar*/

/* home1 */

/* home2*/

/* produtos */

/* promoções */

/* search */

/* footer */

/* tamanho de imagens*/

img {
    height: 300px;
    width: 200px;
}

/* responsividade*/
